name: Build Docker image and push to GHCR

on:
  workflow_dispatch:
  push:
    branches:
      - master

# Allow one concurrent build
concurrency: build-and-push

permissions:
  contents: read

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./
          file: ./docker/Dockerfile
          tags: ${{ env.IMAGE_NAME }}:latest
          push: true
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache,mode=max
          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
